/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************** Temporary borders around divs ****************/

body {
	font-family: 'Roboto', sans-serif;
}

.content {
	box-sizing: border-box;
	padding: 0 15px;
	width: 970px;
	margin: 0 auto;
}

/**************** Navigation Section ****************/

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%
}

.top-navigation > .content {
	height: 70px;
}

.top-navigation .logo {
	height: 70px;
}

/**************** Links ****************/

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

 .top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
	color: #333333;
    cursor:pointer;
}

.introduction {
	background-image: url("/Users/teresacathey/Desktop/Projects/Thinkful/startup-landing-page-clone/img/first-background.jpg");
	background-size: cover;
	background-position: 0 bottom;
	height: 530px;
	position: center;
}

.cases, 
.introduction > .content {
	color: white;
	text-align: center;
	padding-top: 100px;
}

.introduction > .content h1 {
	font-size: 50px;
}

.introduction > .content h3 {
	font-size: 20px;
	padding-top: 25px;
}

h1,
h3 {
	font-weight: 100;
}

.buttons {
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 16px 26px;
	font-size: 18px;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	line-height: 1.33;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}

button {
	background-color: #EC5C13;
	color: white;
	padding: 16px 26px;
	font-size: 18px;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	line-height: 1.33;
}

.half {
	display: inline-block;
	vertical-align: middle;
}

span {
	padding-left: 26px;
	padding-right: 0;
}

span p {
	display: inline-block;
}

.button-links {
	text-decoration: none;
	color: white;
}

/********************* 3 Case Images *************************/

.cases {
	color: black;
	overflow: hidden;
	padding-bottom: 160px;
}

.cases .content {
	margin-top: 126px;
	padding: none;
	color: #1d1e21;
	text-align: center;
}

.cases h2 {
	font-size: 44px;
	margin: 26px 0 50px;
	font-weight: 300;
}

.cases .devices {
	display: flex;
}

.cases .devices > li {
	width: 33.3333333%;
}

.cases .devices h3 {
	font-weight: 400;
	font-size: 25px;
	margin: 40px 0px 30px;
}

.cases .devices p {
	font-weight: 300;
	font-size: 21px;
}

/*****************************************************/



